.centered
{
    text-align: center;
}

.large
{
    font size: large;
}

.medium
{
    font size: medium;
}

.small
{
    font size: small;
}

#name
{
    font-family: nonspace;
    font-size: 60px;
    text-emphasis: underline;
    opacity: 0.6;

}